@charset "ISO-8859-1";

body{
     margin: 25px;
}


h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: left;
}

#searchDiv {
	text-align: center;
}

fieldset {
	border: 5px solid gray;
	margin-right:30%;
	float:left;
}

fieldset2 {
	border: 5px solid gray;
	margin-right:30%;
	float:left;
}

legend {
	padding: 0.2em 0.5em;
	font-weight: bold;
	border: 5px solid gray;
	font-size: 120%;
	text-align: right;
}
