<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>AddEventsCalendar</display-name>
    <servlet-name>AddEventsCalendar</servlet-name>
    <servlet-class>aiss.controller.AddEventsCalendar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventsCalendar</servlet-name>
    <url-pattern>/AddEventsCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleCalendarRedirect</display-name>
    <servlet-name>GoogleCalendarRedirect</servlet-name>
    <servlet-class>aiss.controller.GoogleCalendarRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarRedirect</servlet-name>
    <url-pattern>/GoogleCalendarRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaEventos</display-name>
    <servlet-name>ListaEventos</servlet-name>
    <servlet-class>aiss.controller.ListaEventos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaEventos</servlet-name>
    <url-pattern>/eventos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>aiss.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GooglePlacesSearchController</display-name>
    <servlet-name>GooglePlacesSearchController</servlet-name>
    <servlet-class>aiss.controller.GooglePlacesSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePlacesSearchController</servlet-name>
    <url-pattern>/GooglePlacesSearchController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <servlet-name>GooglePlacesAuthController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GooglePlaces</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePlacesAuthController</servlet-name>
    <url-pattern>/AuthController/GooglePlaces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GooglePlacesOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GooglePlaces</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/googlePlacesSearch</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GooglePlacesOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GooglePlaces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleCalendarController</display-name>
    <servlet-name>GoogleCalendarController</servlet-name>
    <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarController</servlet-name>
    <url-pattern>/AuthController/GoogleCalendar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleCalendarOAuth2Callback</display-name>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
    <init-param>
      <param-name>provider</param-name>
      <param-value>GoogleCalendar</param-value>
    </init-param>
    <init-param>
      <param-name>onSuccess</param-name>
      <param-value>redirect:/GoogleCalendarRedirect</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCalendarOAuth2Callback</servlet-name>
    <url-pattern>/oauth2callback/GoogleCalendar</url-pattern>
  </servlet-mapping>
</web-app>